<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
        行動表
      </div>
    </div>
    <div class="right-header">
      <div class="header-button">
        <% if user_signed_in? %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% end %>
      </div>
    </div>
</div>

<div class="messages">
  <div class="col-md-8">
  <%= month_calendar events: @calenders do |date, blogs| %>
    <%= date.day %>

    <% blogs.each do |blog| %>
      <div>
        <%= link_to blog.title, blog %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="form">
</div>